  body {
 
    background:  linear-gradient( rgba(104, 14, 103,0.8),rgba(0,0,0,0.9)), url('body.jpg');
    background-size: cover;
    height:100vh;
    background-position: center, center;
    background-repeat: no-repeat;
    display :block;
    color:white;
    font-size:25px;
align-items:center;
text-align:center;

 }
/*the purpleish color on top of the background image*/
   

.clock{
    content:'clocky';
    width: 15rem;
    height:15rem;
    border: 20px solid rgba(245, 235, 235, 0.8);
    margin:50px auto;
    border-radius:50%;
}


.hand{

    width:50%;
    height:6px;
    position:absolute;
    top:50%;
    transform-origin: 100%; /*To begin at the center of the clock*/
}

   


   


